/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: BasicGray;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #808080;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #808080;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-spacing-y: 0;
	border-spacing-x: 0;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	background-color: #ffffff;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	background-color: #a9a9a9;
	name: Header1;
	id: 2;
	font-family: 'Segoe UI';
	color: #ffffff;
	font-size: 9pt;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	background-color: #ffffff;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	background-color: #ffffff;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-BasicGray
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #808080;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #808080;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #808080;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-BasicGray .Column-Column1
{
	
}

.TableStyle-BasicGray .Head-Header1
{
	
}

.TableStyle-BasicGray .HeadI-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-BasicGray .HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-BasicGray .HeadE-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-BasicGray .HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-BasicGray .HeadF-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-BasicGray .HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-BasicGray .HeadH-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-BasicGray .HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-BasicGray .HeadD-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-BasicGray .HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-BasicGray .HeadC-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-BasicGray .HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-BasicGray .HeadB-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-BasicGray .HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-BasicGray .HeadA-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-BasicGray .HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-BasicGray .HeadG-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-BasicGray .HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-BasicGray .Foot-Footer1
{
	
}

.TableStyle-BasicGray .FootI-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
}

.TableStyle-BasicGray .FootI-Column1-Footer1 p
{
	
}

.TableStyle-BasicGray .FootE-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #808080;
	border-top-style: solid;
}

.TableStyle-BasicGray .FootE-Column1-Footer1 p
{
	
}

.TableStyle-BasicGray .FootF-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #808080;
	border-top-style: solid;
}

.TableStyle-BasicGray .FootF-Column1-Footer1 p
{
	
}

.TableStyle-BasicGray .FootH-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	background-color: #ffffff;
}

.TableStyle-BasicGray .FootH-Column1-Footer1 p
{
	
}

.TableStyle-BasicGray .FootD-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #808080;
	border-top-style: solid;
}

.TableStyle-BasicGray .FootD-Column1-Footer1 p
{
	
}

.TableStyle-BasicGray .FootC-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
}

.TableStyle-BasicGray .FootC-Column1-Footer1 p
{
	
}

.TableStyle-BasicGray .FootB-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	background-color: #ffffff;
}

.TableStyle-BasicGray .FootB-Column1-Footer1 p
{
	
}

.TableStyle-BasicGray .FootA-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
}

.TableStyle-BasicGray .FootA-Column1-Footer1 p
{
	
}

.TableStyle-BasicGray .FootG-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
}

.TableStyle-BasicGray .FootG-Column1-Footer1 p
{
	
}

.TableStyle-BasicGray .Body-Body1
{
	
}

.TableStyle-BasicGray .BodyI-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
}

.TableStyle-BasicGray .BodyI-Column1-Body1 p
{
	
}

.TableStyle-BasicGray .BodyE-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-BasicGray .BodyE-Column1-Body1 p
{
	
}

.TableStyle-BasicGray .BodyF-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	background-color: #ffffff;
}

.TableStyle-BasicGray .BodyF-Column1-Body1 p
{
	
}

.TableStyle-BasicGray .BodyH-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-BasicGray .BodyH-Column1-Body1 p
{
	
}

.TableStyle-BasicGray .BodyD-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	background-color: #ffffff;
}

.TableStyle-BasicGray .BodyD-Column1-Body1 p
{
	
}

.TableStyle-BasicGray .BodyC-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
}

.TableStyle-BasicGray .BodyC-Column1-Body1 p
{
	
}

.TableStyle-BasicGray .BodyB-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-BasicGray .BodyB-Column1-Body1 p
{
	
}

.TableStyle-BasicGray .BodyA-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
}

.TableStyle-BasicGray .BodyA-Column1-Body1 p
{
	
}

.TableStyle-BasicGray .BodyG-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
}

.TableStyle-BasicGray .BodyG-Column1-Body1 p
{
	
}


