/* MadCap Table Style: */

mcTableStyle {
	name: Calcs; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	cell-padding-left: 4px; 
	cell-padding-right: 4px; 
	cell-padding-top: 4px; 
	cell-padding-bottom: 4px; 
	border-spacing-y: 0; 
	border-spacing-x: 0; 
	border-left-color: #000000; 
	border-right-color: #000000; 
	border-top-color: #000000; 
	border-bottom-color: #000000; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 0px; 
	separator-color: #000000; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #696969; 
	color: #ffffff; 
	font-weight: bold; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #fafad2; 
}

 
 
/* Cell Styles: */
 
/*<meta />*/

.TableStyle_Calcs
{
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 4px 4px;
}

.TableStyle_Calcs_Head_0_0
{
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_Calcs_Head_0_0_RowSep_ColSep
{
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Calcs_Head_0_0_RowSep
{
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_Calcs_Head_0_0_ColSep
{
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Calcs_Head_0_0_RowSep_ColEnd
{
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_Calcs_Head_0_0_RowEnd
{
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_Calcs_Head_0_0_RowEnd_ColSep
{
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Calcs_Head_0_0_RowEnd_ColEnd
{
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_Calcs_Head_0_0_ColEnd
{
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_Calcs_Body_0_0
{
	font-weight: normal;
	background-color: #fafad2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_Calcs_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	background-color: #fafad2;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Calcs_Body_0_0_RowSep
{
	font-weight: normal;
	background-color: #fafad2;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_Calcs_Body_0_0_ColSep
{
	font-weight: normal;
	background-color: #fafad2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Calcs_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	background-color: #fafad2;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_Calcs_Body_0_0_RowEnd
{
	font-weight: normal;
	background-color: #fafad2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_Calcs_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	background-color: #fafad2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Calcs_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	background-color: #fafad2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_Calcs_Body_0_0_ColEnd
{
	font-weight: normal;
	background-color: #fafad2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}


