# Apple generated directories
LibreCAD.app/
LibreCAD.pbproj/
Info.plist

# Unix generated directories (except Apple)
unix/

#Doxygen
html/

# All platforms generated directories and files
*.qm
intermediate/
Makefile
qmake_image_collection.cpp
librecad.pro.user*
*.qch
*.qhc
plugins.pro.user*
ttf2lff.pro.user*

# Mac store files
.DS_Store

#pkg files
*.pkg
#vim files
*.swp
*.orig
