1	VERSIONINFO
FILEVERSION	1,0,0,001
PRODUCTVERSION	1,0,0,0
FILEFLAGSMASK	0x3F
FILEFLAGS	0x0
FILEOS		0x40004
FILETYPE	0x2
FILESUBTYPE	0x0
{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "Comments", "Icon engine for .lci SVG icons"
		VALUE "CompanyName", "LibreCAD"
		VALUE "FileDescription", "Icon engine for .lci SVG icons"
		VALUE "FileVersion", "1.0.0.001"
		VALUE "InternalName", "lc_svgicons.dll"
		VALUE "LegalCopyright", "(c) 2025 LibreCAD.org, sand1024"
		VALUE "OriginalFilename", "lc_svgicons.dll"
		VALUE "ProductName", "LibreCAD"
		VALUE "ProductVersion", "1.0.0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04E4
}
}
