/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	font-family: 'Segoe UI', sans-serif;
	background-color: #ffffff;
	margin-left: 24px;
	max-width: 1200px;
}

h1
{
	font-family: 'Segoe UI';
	padding: 2px;
	padding-left: 0px;
	padding-right: 0px;
	z: ;
	font-weight: normal;
	margin-bottom: 6px;
	margin-top: 8px;
	font-size: 1.7rem;
	page-break-before: always;
}

h2
{
	margin: 6px;
	margin-left: 0px;
	margin-right: 0px;
	sans-serif: ;
	font-family: 'Segoe UI';
	margin-bottom: 10px;
	font-weight: normal;
	margin-top: 30px;
	font-size: 1.35rem;
}

h3
{
	margin: 6px;
	margin-left: 0px;
	margin-right: 0px;
	border: solid 0px;
	margin-top: 22px;
	font-family: 'Segoe UI', sans-serif;
	font-weight: normal;
	font-size: 1.1rem;
}

h4
{
	margin: 0;
	margin-bottom: 12px;
	margin-top: 20px;
	font-weight: normal;
	color: #d2691e;
	font-family: 'Segoe UI';
	font-size: 1.125rem;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
	margin-bottom: 5pt;
	margin-top: 16px;
}

h6
{
	font-weight: bold;
	color: #696969;
	font-family: Arial, ' sans-serif';
	font-size: 10pt;
	margin: 0;
	margin-bottom: 6px;
	margin-top: 6px;
}

p
{
	font-family: 'Segoe UI', sans-serif;
	font-size: 0.9rem;
	margin-bottom: 8px;
	margin-top: 8px;
}

li
{
	margin-top: 2px;
	margin-bottom: 2px;
	padding-bottom: 0;
	font-size: 0.9rem;
}

p.SettingName
{
	font-style: normal;
	margin-top: 3pt;
	margin-bottom: 2pt;
	mc-next-tag: p;
	font-family: 'Segoe UI', sans-serif;
	font-weight: normal;
	color: #000080;
	font-size: 1rem;
}

p.SettingNameNoToggle
{
	font-style: normal;
	mc-next-tag: p;
	font-weight: normal;
	font-family: 'Segoe UI', sans-serif;
	color: #00008b;
	font-size: 1rem;
	margin-bottom: 4px;
	margin-top: 32px;
}

li.SettingName
{
	font-style: normal;
	mc-next-tag: p;
	margin-top: 2pt;
	margin-bottom: 6pt;
	color: #000080;
}

p.SettingHeader
{
	font-style: normal;
	border-bottom-style: none;
	font-variant: normal;
	mc-next-tag: p;
	margin: 0;
	margin-bottom: 2px;
	font-weight: normal;
	font-family: 'Segoe UI';
	text-transform: uppercase;
	margin-top: 20px;
}

p.NoSpace
{
	font-family: 'Segoe UI';
	sans-serif: ;
	font-size: 0.9rem;
	margin-bottom: 0px;
	margin-top: 0px;
}

span.SettingRangeValue
{
	font-style: normal;
	color: #800000;
	font-weight: normal;
}

span.SettingDefaultValue
{
	font-style: normal;
	color: #008000;
	font-weight: normal;
}

li.StepInstruction
{
	margin-top: 4.5pt;
	margin-bottom: 4.5pt;
	margin-left: 0pt;
}

span.Formula
{
	color: #4a6903;
	font-family: 'Lucida Sans Unicode';
}

span.CodeSnippet
{
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
	font-size: .9rem;
	margin-bottom: 0px;
	margin-top: 0px;
}

p.CodeSnippet
{
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
	font-size: .9rem;
	margin-bottom: 0px;
	margin-top: 0px;
}

MadCap|expandingHead.expandspot
{
	cursor: hand;
	font-size: 9pt;
	font-family: 'Segoe UI', sans-serif;
	font-style: normal;
	x-on-hover: fontchange(Underline=on);
	text-decoration: none;
	font-weight: bold;
	color: #808000;
}

MadCap|expandingBody.expandtext
{
	font-style: normal;
	font-family: 'Segoe UI', sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #808000;
}

MadCap|toggler
{
	mc-closed-image: url('../../Images/TreeViewPlusSimple.png');
	mc-open-image: url('../../Images/TreeViewMinusSimple.png');
	padding: 0px;
	color: #000080;
}

MadCap|expanding
{
	mc-closed-image: none;
	mc-open-image: none;
}

img
{
	position: relative;
}

MadCap|toggler.Toggler_Example
{
	mc-image-spacing: 3px;
	margin: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
	border: solid 0px;
	font-family: 'Segoe UI', sans-serif;
	color: #008000;
	mc-closed-image: url('../../Images/ExampleImagePlus.png');
	mc-open-image: url('../../Images/ExampleImageMinus.png');
}

dl
{
	list-style-type: disc;
	margin-bottom: 0rem;
	margin-top: 0rem;
	margin-left: 20px;
}

dt
{
	list-style-image: none;
	list-style-type: disc;
	margin-bottom: 0px;
	margin-top: 7.5px;
}

dd
{
	margin-left: 0px;
	margin-bottom: 4.5px;
}

blockquote
{
	margin-bottom: 1.12rem;
	margin-top: 1.12rem;
}

td
{
	vertical-align: top;
	font-family: 'Segoe UI', sans-serif;
	font-size: 0.9rem;
}

caption
{
	
}

table
{
	border-spacing: 0px;
	border-collapse: collapse;
	font-family: 'Segoe UI', SansSerif;
}

p.MediumHeading
{
	font-family: 'Segoe UI', sans-serif;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 22px;
	font-weight: bold;
}

MadCap|expandingHead:hover
{
	text-decoration: underline;
}

li.LinkInternalTopic
{
	list-style-image: url('../../Images/ArefDown.png');
	margin-bottom: 4.5px;
	margin-top: 4.5px;
}

p.ImageCaption
{
	font-style: italic;
	margin-bottom: 12px;
	margin-top: 3px;
	margin-left: 25px;
}

p.Related
{
	font-style: normal;
	color: #696969;
	font-weight: normal;
}

p.GeneralConcept
{
	font-style: italic;
	margin: 0;
	margin-bottom: 6px;
	font-family: 'Segoe UI';
	margin-top: 20px;
	font-size: 1.10rem;
}

MadCap|xref
{
	mc-format: '{para}';
}

ul
{
	padding-bottom: 6px;
}

ol
{
	padding-bottom: 6px;
}

MadCap|relatedTopics
{
	color: #696969;
	mc-help-control-display: list;
	mc-label: 'Related articles';
	mc-image: none;
	mc-image-position: none;
	font-weight: normal;
	font-size: 0.9rem;
}

MadCap|relatedTopicsControlListItem
{
	font-weight: normal;
	list-style-type: square;
}

MadCap|relatedTopicsControlListItemLink
{
	font-weight: normal;
}

a
{
	
}

MadCap|menuProxy
{
	float: right;
	position: fixed;
}

div.RowClassMenu	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.RowClassMenu::before
{
	content: ' ';
	display: table;
}

div.RowClassMenu::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.RowClassMenu > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.RowClassMenu > div:nth-child(1)
{
	width: 75%;
	margin-left: 0%;
}

div.RowClassMenu > div:nth-child(2)
{
	width: 25%;
	margin-left: 0%;
}

h1.TOC3NoBreakBefore
{
	margin-top: 16px;
}

MadCap|bodyProxy
{
	max-width: 950px;
}

@media print
{
	h2
	{
		font-size: 12pt;
		mc-heading-level: 0;
	}

	MadCap|xref.PageRef
	{
		mc-format: '{quote}{para}{quote} on page {page}';
		text-decoration: none;
		color: #0000ff;
	}

	h4
	{
		mc-heading-level: 0;
	}

	h3
	{
		mc-heading-level: 0;
	}

	h1
	{
		page-break-before: always;
		mc-toc-depth: 1;
		mc-heading-level: 1;
		color: #696969;
		font-weight: normal;
		font-size: 18pt;
		font-variant: small-caps;
		border-bottom-color: #696969;
		border-bottom: solid 2px #696969;
		border-bottom-width: 1px;
	}

	MadCap|tocProxy
	{
		mc-page-number-format: lower-alpha;
		border-top-style: none;
		border-top-color: #ffffff;
		border-top-width: 0px;
		mc-output-support: pdf;
	}

	p.Index1
	{
		white-space: pre-wrap;
	}

	h1.TOC2
	{
		mc-heading-level: 2;
		mc-toc-depth: 2;
		text-transform: none;
		border-bottom: solid 0px;
		border-bottom-color: #ffffff;
		color: #000000;
		font-style: normal;
		page-break-before: always;
		text-decoration: none;
		font-variant: normal;
	}

	h1.TOC2NoBreakBefore
	{
		mc-heading-level: 2;
		page-break-before: avoid;
		mc-toc-depth: 2;
		text-transform: none;
		border-bottom: solid 0px;
		border-bottom-color: #ffffff;
		color: #000000;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
	}

	h1.TOC3
	{
		mc-heading-level: 3;
		mc-toc-depth: 3;
		text-transform: none;
		color: #000000;
		font-style: normal;
		border-bottom-width: 0px;
		border-bottom-color: #ffffff;
		border-bottom: solid 0px;
		text-decoration: none;
		font-variant: normal;
	}

	h1.TOC3NoBreakBefore
	{
		mc-heading-level: 3;
		page-break-before: avoid;
		mc-toc-depth: 3;
		text-transform: none;
		border-bottom: solid 0px;
		border-bottom-color: #ffffff;
		color: #000000;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
	}

	h1.TOC4
	{
		mc-heading-level: 4;
		mc-toc-depth: 4;
		text-transform: none;
		color: #000000;
		border-bottom-width: 0px;
		border-bottom: solid 0px;
		border-bottom-color: #ffffff;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
	}

	h1.TOC5
	{
		mc-heading-level: 5;
		mc-toc-depth: 5;
		text-transform: none;
		color: #000000;
		font-style: normal;
		border-bottom: solid 0px;
		border-bottom-color: #ffffff;
		text-decoration: none;
		font-variant: normal;
	}

	h5
	{
		mc-heading-level: 0;
	}

	h6
	{
		mc-heading-level: 0;
	}

	body
	{
		background-color: #ffffff;
	}

	MadCap|bodyProxy
	{
		
	}

	MadCap|bodyProxy.MMKS_A4
	{
		mc-printer-page-size: A4;
	}

	MadCap|bodyProxy.MMKS_Letter
	{
		mc-printer-page-size: letter;
		mc-page-number-format: ;
	}

	a
	{
		text-decoration: none;
	}

	table.Tip
	{
		border-top-color: #000000;
		border-right-color: #000000;
		border: solid 1px #000000;
		margin-bottom: 4px;
		margin-top: 4px;
	}

	a:visited
	{
		text-decoration: none;
	}

	a:link
	{
		text-decoration: none;
	}

	table
	{
		margin-top: 12pt;
		margin-bottom: 12pt;
	}

	MadCap|footnote
	{
		font-size: 8pt;
	}

	MadCap|indexProxy
	{
		border-top-style: none;
		border-top-width: 0px;
		border-top-color: #ffffff;
		mc-column-count: 2;
		font-family: Tahoma;
		font-size: 7pt;
	}

	p.TOC1
	{
		text-transform: uppercase;
		padding-top: 8px;
		font-weight: bold;
		font-size: 9pt;
		mc-leader-align: inherit;
		mc-leader-offset: 10pt;
		mc-auto-number-position: inside-head;
	}

	p.TOC2
	{
		
	}

	p.TOC3
	{
		
	}

	p.ImageCaption
	{
		font-size: 10pt;
	}

	MadCap|miniTocProxy
	{
		page-break-after: always;
		border-top-width: 1px;
		border-top-style: none;
	}

	p.MiniTOC1
	{
		font-weight: normal;
	}

	p.SettingHeader
	{
		font-family: 'Segoe UI Semibold';
	}

	img
	{
		max-width: 7in;
	}

	div.Example
	{
		border: solid 1px #b9b9b9;
	}
}

@media non-print
{
	h2
	{
		
	}

	MadCap|xref.PageRef
	{
		color: #0000ff;
	}

	MadCap|xref.PageRef:visited
	{
		color: #7f007f;
	}

	MadCap|xref.PageRef:hover
	{
		color: #FFD800;
	}

	MadCap|xref:visited
	{
		color: #7f007f;
	}

	kbd
	{
		border-radius: 3px;
		border: solid 1px #dcdcdc;
		padding: 4px;
		background-color: #333;
		color: #ffffff;
		font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	}

	a
	{
		color: #0066cc;
	}

	p.SettingHeader
	{
		font-family: 'Segoe UI';
	}

	h1
	{
		
	}

	p
	{
		
	}

	h5
	{
		font-size: 10pt;
	}

	div.SettingBody
	{
		padding-left: 14px;
	}
}

MadCap|xref.PageRef
{
	mc-format: ;
	color: #0066cc;
}

a:visited
{
	
}

MadCap|xref.PageRef:visited
{
	color: #7f007f;
}

MadCap|xref:visited
{
	color: #7f007f;
}

th
{
	mc-table-style: url('default.css');
}

col
{
	mc-table-style: url('default.css');
}

tr
{
	mc-table-style: url('default.css');
}

MadCap|tocProxy
{
	page-break-after: avoid;
}

p.Procedure
{
	margin: 0;
	margin-bottom: 12px;
	margin-top: 20px;
	font-family: 'Segoe UI';
	font-size: 1.25 rem;
	background-image: none;
}

tbody
{
	font-family: 'Segoe UI', SansSerif;
}

span.SettingHighlightRed
{
	font-style: normal;
	font-weight: normal;
	color: #ff4500;
}

div.IndentSetting
{
	margin-top: 12px;
	margin-bottom: 12px;
	padding-left: 30px;
}

div.SettingBody
{
	padding-left: 12px;
	margin-bottom: 12px;
	border-left: solid 4px #f5f5f5;
}

p.SettingChoice
{
	margin-top: 14px;
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: 'Segoe UI', sans-serif;
	font-weight: normal;
	color: #800000;
}

div.Example
{
	background-color: #efefef;
	padding: 4px;
	border: solid 1px #b9b9b9;
	margin-top: 6px;
	margin-left: 0;
}

span.WarningBox
{
	background-color: #ffff00;
	border: solid 1px #000000;
}

li.ReportIconList
{
	margin-bottom: 4.5px;
	margin-top: 4.5px;
	list-style-image: url('../../Images/IconReport.PNG');
	list-style-position: inside;
}

p.Formula
{
	color: #556b2f;
}

kbd
{
	border-bottom-color: #dcdcdc;
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	box-shadow: 1px 1px 1px;
	border-radius: 3px;
	border: solid 1px #a9a9a9;
	font-size: 0.9rem;
}

code
{
	background-color: #e4e6e8;
	border-radius: 3px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 0px;
}

span
{
	height: 24px;
}

p.ErrorWarningText
{
	font-family: Consolas, sans-serif;
	padding-bottom: 2px;
	padding-top: 12px;
	font-weight: bold;
}

div.OutputCode
{
	margin-left: 18px;
	margin-top: 16px;
	margin-bottom: 16px;
}

div.ExampleNoIndent
{
	background-color: #efefef;
	padding: 4px;
	border: solid 1px #b9b9b9;
}

div.TopicFooter
{
	border-top-color: #808080;
	padding-bottom: 6px;
	margin-bottom: 8px;
	border-top: dotted 1px #a9a9a9;
	margin-top: 24px;
	padding-top: 16px;
}

div.Tip
{
	background-repeat: no-repeat;
	border: solid 1px #ffd691;
	padding: 4px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 22px;
	background-image: url('../../Images/TipImageLong.png');
}

div.Note
{
	background-repeat: no-repeat;
	padding-top: 4px;
	border: solid 1px #bbc6ce;
	padding: 6px;
	padding-left: 22px;
	text-indent: 0px;
	margin-bottom: 8px;
	margin-top: 8px;
	background-image: url('../../Images/NoteImageLong.png');
}

div.ImportantDiv
{
	background-repeat: no-repeat;
	padding-top: 4px;
	padding: 6px;
	border: solid 1px #9bc4c9;
	background-image: url('../../Images/ImportantImageLong.png');
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 22px;
}

div.TopicNav
{
	border-top-color: #808080;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-bottom: dotted 1px #a9a9a9;
	border-top: dotted 1px #a9a9a9;
}

p.ImageHolder
{
	margin-bottom: 2px;
	margin-top: 6px;
	margin-left: 24px;
}

div.Footer
{
	/*position: fixed;*/
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #EAEAEA;
	padding: 3px;
}

span.Hash
{
	color: #b22222;
	background-color: #fbf3f4;
	font-family: 'Lucida Console';
}

p.Example
{
	font-style: italic;
	color: #696969;
	padding-top: 4px;
	padding-bottom: 6px;
}

h2.Procedure
{
	
}

span.DataLabel
{
	color: #808080;
}

p.GroupCentered
{
	color: #808080;
	text-align: center;
	text-transform: uppercase;
	margin-top: 16px;
	margin-bottom: 16px;
	font-weight: normal;
	font-size: 1.15rem;
}

div.SettingBody
{
	padding-left: 14px;
}

h5
{
	font-size: 10pt;
}

p
{
	
}

h1
{
	
}

p.SettingHeader
{
	font-family: 'Segoe UI';
}

a
{
	color: #0066cc;
}

kbd
{
	border-radius: 3px;
	border: solid 1px #dcdcdc;
	padding: 4px;
	background-color: #333;
	color: #ffffff;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

MadCap|xref:visited
{
	color: #7f007f;
}

MadCap|xref.PageRef:hover
{
	color: #FFD800;
}

MadCap|xref.PageRef:visited
{
	color: #7f007f;
}

MadCap|xref.PageRef
{
	color: #0000ff;
}

h2
{
	
}

@media only screen and (max-width: 900px)
{
	div.RowClassMenu > div:nth-child(1)
	{
		width: 66.66667%;
		margin-left: 0%;
	}

	div.RowClassMenu > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}
}

@media only screen and (max-width: 400px)
{
	div.RowClassMenu > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RowClassMenu > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}
}

p.Path
{
	font-family: monospace;
}

span.Path
{
	font-family: monospace;
}

p.PseudoH1
{
	font-family: 'Segoe UI';
	padding: 2px;
	padding-left: 0px;
	padding-right: 0px;
	z: ;
	font-weight: normal;
	margin-bottom: 6px;
	margin-top: 8px;
	font-size: 1.7rem;
}

td.Welcome-table
{
	font-family: 'Segoe UI', sans-serif;
	font-size: 0.9rem;
	vertical-align: middle;
}

