/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Rows;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	max-id: 4;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	margin-top: 6px;
	margin-bottom: 6px;
	border-left-color: #a9a9a9;
	border-right-color: #a9a9a9;
	border-top-color: #a9a9a9;
	border-bottom-color: #a9a9a9;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #f5f5f5;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: Header1;
	id: 3;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	background-color: #f5f5f5;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Rows
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #a9a9a9;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 1px;
	margin-top: 6px;
	margin-bottom: 6px;
	border-spacing: 0px 0px;
}

.TableStyle-Rows-Column-Column1
{
	
}

.TableStyle-Rows-Head-Header1
{
	
}

.TableStyle-Rows-HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-Rows-HeadI-Column1-Header1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Rows-HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows-HeadE-Column1-Header1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Rows-HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows-HeadF-Column1-Header1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Rows-HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-Rows-HeadH-Column1-Header1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Rows-HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows-HeadD-Column1-Header1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Rows-HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-Rows-HeadC-Column1-Header1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Rows-HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-Rows-HeadB-Column1-Header1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Rows-HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-Rows-HeadA-Column1-Header1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Rows-HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-Rows-HeadG-Column1-Header1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Rows-Foot-Footer1
{
	
}

.TableStyle-Rows-FootI-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
}

.TableStyle-Rows-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Rows-FootE-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Rows-FootF-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Rows-FootH-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Rows-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Rows-FootD-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Rows-FootC-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
}

.TableStyle-Rows-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Rows-FootB-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Rows-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Rows-FootA-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
}

.TableStyle-Rows-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Rows-FootG-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #c0c0c0;
}

.TableStyle-Rows-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Rows-Body-Body1
{
	
}

.TableStyle-Rows-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f5f5f5;
}

.TableStyle-Rows-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Rows-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f5f5f5;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
}

.TableStyle-Rows-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Rows-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f5f5f5;
	border-bottom-width: 0px;
	border-bottom-style: solid;
}

.TableStyle-Rows-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Rows-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f5f5f5;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
}

.TableStyle-Rows-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Rows-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f5f5f5;
	border-bottom-width: 0px;
	border-bottom-style: solid;
}

.TableStyle-Rows-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Rows-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f5f5f5;
}

.TableStyle-Rows-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Rows-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f5f5f5;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
}

.TableStyle-Rows-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Rows-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f5f5f5;
}

.TableStyle-Rows-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Rows-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f5f5f5;
}

.TableStyle-Rows-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Rows-Body-Body2
{
	
}

.TableStyle-Rows-BodyI-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Rows-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Rows-BodyE-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
}

.TableStyle-Rows-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Rows-BodyF-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Rows-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Rows-BodyH-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
}

.TableStyle-Rows-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Rows-BodyD-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Rows-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Rows-BodyC-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Rows-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Rows-BodyB-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #f5f5f5;
	border-right-style: solid;
}

.TableStyle-Rows-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Rows-BodyA-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Rows-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Rows-BodyG-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Rows-BodyG-Column1-Body2 p
{
	
}


