[Desktop Entry]
Version=1.0
Type=Application
Name=LibreCAD
GenericName=CAD system
GenericName[da]=Computerhjulpet design (CAD)
GenericName[de]=System für computerunterstützte Konstruktion
GenericName[it]=Sistema CAD
GenericName[ja]=コンピュータ支援設計 (CAD) システム
GenericName[ru]=Система автоматизированного проектирования
GenericName[sk]=CAD systém
GenericName[uk]=Система автоматизованого проектування
Comment=A professional CAD System
Comment[es]=Un sistema CAD profesional
Comment[ru]=Профессиональная CAD система
Comment[sq]=Një sistem profesional CAD
Comment[be]=Прафэсійная CAD-сыстэма
Comment[ast]=Un sistema CAD profesional
Comment[bn]=পেশাদারী CAD পদ্ধতি
Comment[bs]=Profesionalni sistem CAD
Comment[pt_BR]=Um sistema CAD profissional
Comment[bg]=Професионална CAD система
Comment[ca]=Un sistema CAD professional
Comment[ca@valencia]=Un sistema CAD professional
Comment[zh_HK]=專業 CAD 系統
Comment[da]=Et professionelt CAD-system
Comment[cs]=Profesionální CAD systém
Comment[crh]=Profesyonel CAD Sistemi
Comment[zh_TW]=專業 CAD 系統
Comment[zh_CN]=一个专业的 CAD 系统
Comment[nl]=Een professioneel CAD-systeem
Comment[fi]=Ammattimainen CAD-järjestelmä
Comment[fr]=Un système de CAO professionnel
Comment[gl]=Un sistema de CAD profesional
Comment[de]=Ein professionelles CAD-System
Comment[el]=Ένα επαγγελματικό σύστημα σχεδίασης CAD
Comment[is]=Hágæða teiknikerfi (CAD)
Comment[hu]=Professzionális CAD-rendszer
Comment[it]=Un sistema CAD professionale
Comment[ja]=プロフェッショナル CAD システム
Comment[ky]=Кесиптик CAD - тутуму
Comment[ms]=Sistem CAD profesional
Comment[nb]=Et profesjonelt CAD-system
Comment[pt]=Um sistema CAD profissional
Comment[pl]=Profesjonalny system CAD
Comment[oc]=Un sistèma de CAO professional
Comment[ro]=Un sistem profesional CAD
Comment[tg]=Системаи касбии CAD
Comment[sv]=Professionellt CAD-system
Comment[sl]=Profesionalni sistem CAD
Comment[uk]=Професійна САПР
Comment[tr]=Profesyonel CAD Sistemi
TryExec=librecad
Exec=librecad %F
Icon=librecad
Categories=Graphics;Engineering;
MimeType=image/vnd.dxf
