name: Continuous build
on:
  push:
    branches:
      - master
      - 2.2.1

jobs:
  BuildLinux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Install Qt6
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.*'

      - name: Install Qt and dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get -qq install qt6-base-dev qt6-base-dev-tools qt6-declarative-dev libqt6svg6 libqt6svg6-dev qmake6 qtchooser libgl-dev libmuparser-dev libboost-dev librsvg2-bin libfreetype6-dev libicu-dev pkg-config libfuse2
          sudo ln -snf /usr/lib/x86_64-linux-gnu/qtchooser/qt5.conf /usr/lib/x86_64-linux-gnu/qtchooser/default.conf
          sudo rm -rf /usr/local/lib/android

      - name: Install Clang
        run: |
          sudo apt-get -qq install clang-15 clang-tools-15

      - name: Build and analyze
        run: |
          export CC=g++
          export ANALYZE="scan-build-15 -o out --use-cc=/usr/bin/clang++ --use-analyzer=/usr/bin/clang++ "
          ${ANALYZE}qmake6 -r librecad.pro CONFIG+=debug_and_release PREFIX=/usr
          ${ANALYZE}make release -j$(nproc)

      - name: Create report repository
        run: |
          cd out
          find . -mindepth 2 -type f -print -exec mv {} . \;
          git config --global user.email "github@librecad.org"
          git config --global user.name "GHA CI [bot]"
          git config --global init.defaultBranch gh-pages
          git init
          git add .
          git commit -m "latest analyzer report"

      - name: Push changes
        if: github.repository_owner == 'LibreCAD'
        uses: ad-m/github-push-action@master
        with:
          repository: ${{ github.repository_owner }}/static-analyzer-reports
          github_token: ${{ secrets.LC_PUSH_ANALYZER_REPORT }}
          branch: gh-pages
          force: true
          directory: out

      - name: Create AppImage
        run: |
          find unix/
          ./CI/build-appimg.sh
          mv LibreCAD*.AppImage LibreCAD-`git describe --tags --always`.AppImage

      - name: List files
        run: |
          echo ${{ github.workspace }} && ls ${{ github.workspace }}
        shell: bash

      - name: Upload artifact
        uses: actions/upload-artifact@main
        with:
          name: assets
          overwrite: true
          path: LibreCAD*.AppImage
          retention-days: 2
#
#      - name: Create snapcraft
#        run: |
#          ./scripts/createSnap.sh
#
#      - name: Uploading snap
#        uses: actions/upload-artifact@v3.1.0
#        with:
#          path: ${{ github.workspace }}/librecad**snap
#          name: LibreCAD.snap
#
  BuildMacOS:
    runs-on: macos-14
    steps:
      - name: Checkout code
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Install Qt6
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.*'

      - name: Install boost dependencies
        run: |
          brew install boost

      - name: Build and packaging
        run: |
          scripts/build-osx.sh
          mv LibreCAD.dmg LibreCAD-`git describe --tags --always`.dmg

      - name: Upload artifact
        uses: actions/upload-artifact@main
        with:
          name: assets
          overwrite: true
          path: LibreCAD*.dmg
          retention-days: 2

  BuildWindows64:
    runs-on: windows-2022
    steps:
      - name: Checkout code
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Uninstall incorrect mingw
        run: |
          choco uninstall mingw --force
          choco uninstall strawberryperl --force

      - name: Install MinGW8.1 64-bit
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64

      - name: Install Qt6
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.*'
          host: 'windows'
          arch: 'win64_mingw'
          target: 'desktop'
          dir: '..'
          install-deps: 'true'
          cache: 'false'
          cache-key-prefix: 'install-qt-action'
          setup-python: 'true'
          set-env: 'true'
          tools-only: 'false'
          extra: '--external 7z'

      - name: Install boost
        shell: bash
        run: |
          curl -# -L -o boost.7z https://boostorg.jfrog.io/artifactory/main/release/1.83.0/source/boost_1_83_0.7z
          7z x -o. -y boost.7z
          mv boost_1_83_0 ../boost
          rm boost.7z

      - name: Debugging
        if: ${{ always() }}
        shell: cmd
        run: |
          set
          echo.
          dir c:\
          echo.
          dir d:\
          echo.
          dir d:\a
          echo.
          dir
          echo.
          dir ..
          echo.
          dir ..\boost
          echo.
          dir ..\Qt
          echo.

      - name: Build
        run: |
          set PATH=C:\msys64\mingw64\bin;%PATH%
          copy CI\custom-win.pri custom.pri
          copy CI\custom-win-x64.nsh scripts\postprocess-windows\custom.nsh
          echo SET:
          set
          pushd "${{ github.workspace }}\scripts"
          build-windows.bat
        shell: cmd

      - name: Rename installer
        run: |
          mv generated/LibreCAD-Installer.exe LibreCAD-Installer-win64-`git describe --tags --always`.exe
        shell: bash

      - name: List files
        run: |
            echo "${{ github.workspace }}"
            dir "${{ github.workspace }}"
        shell: cmd

      - name: Upload artifact
        uses: actions/upload-artifact@main
        with:
          name: assets
          overwrite: true
          path: LibreCAD*.exe
          retention-days: 2

  UpdateAssets:
    if: github.repository_owner == 'LibreCAD'
    needs: [BuildLinux, BuildMacOS, BuildWindows64]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Fetch artifacts
        uses: actions/download-artifact@main

      - name: Upload latest pre-release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          draft: false
          title: "Continuous Build"
          files: |
            assets/LibreCAD*.*
            LICENSE


